@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Source Sans 3', sans-serif;
  background-color: #fcfdfc;
}

.container {
  width: 900px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 48px;
  padding: 10px;
}

h1 {
  color: #3A3938;
  font-weight: 900;
  font-size: 20px;
  font-family: 'Figtree', sans-serif;
}

h2 {
  color: rgba(58, 57, 56, 0.84);
  font-weight: 600;
  font-size: 15px;
  font-family: 'Figtree', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #3fbc9b;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2b8960;
}


.navigation{
  margin: 10px;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #c3e6d9;
  padding: 0px 5px;
  border-radius: 10px;
}

.nav-selected {
  color: #3fbc9b;
}

.navigation:hover {
  color: #3fbc9b;
}

button:hover {
  background-color: #2b8960;
}


.header {
  align-content: center;
  text-align: center;
  align-items: center;
}

a {
  color: #3fbc9b;
  font-weight: bold;
  text-decoration: none;
}

