<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>ajuda profissional</title>
    <link rel="stylesheet" href="../static/css/ajuda-profissional.css?v=6">
    <script src="../static/js/ajuda-profissional.js?v=2"></script>
</head>
<body>
<div class="container">
    <img src="../static/img/logo.png?v=1" alt="Logo">
    <div class="header">
      <a class="navigation" href="/diario?email={{ email }}">diário</a>
      <a class="navigation" href="/meditacao?email={{ email }}">timer de meditação</a>
      <a class="navigation" href="/videos-relaxantes?email={{ email }}">vídeos relaxantes</a>
      <a class="navigationnav-selected" href="/ajuda-profissional?email={{ email }}">ajuda profissional</a>
      </div>
    <h1>encontre ajuda profissional :)</h1>
    <p>todos os psicólogos são nossos parceiros e altamente capacitados para te ajudar.</p>

    <div class="cards-container">
        <div class="card">
            <h3>Maria Silva</h3>
            <p>especialidade: psicologia clínica</p>
            <p>telefone: (11) 98765-4321</p>
            <button class="botao-whatsapp to_scale" onclick="mandarMensagem('(11) 98765-4321')">enviar mensagem</button>
        </div>

        <div class="card">
            <h3>João Oliveira</h3>
            <p>especialidade: terapia cognitivo-comportamental</p>
            <p>telefone: (11) 98765-6789</p>
            <button class="botao-whatsapp to_scale" onclick="mandarMensagem('(11) 98765-6789')">enviar mensagem</button>
        </div>

        <div class="card">
            <h3>Ana Souza</h3>
            <p>especialidade: psicoterapia infantil</p>
            <p>telefone: (11) 98765-9876</p>
            <button class="botao-whatsapp to_scale" onclick="mandarMensagem('(11) 98765-9876')">enviar mensagem</button>
        </div>

        <div class="card">
            <h3>Fernando Santos</h3>
            <p>especialidade: psicologia organizacional</p>
            <p>telefone: (11) 98765-5432</p>
            <button class="botao-whatsapp to_scale" onclick="mandarMensagem('(11) 98765-5432')">enviar mensagem</button>

        </div>
        <div class="card">
            <h3>Luiza Oliveira</h3>
            <p>especialidade: psicologia social</p>
            <p>telefone: (11) 98765-8765</p>
            <button class="botao-whatsapp to_scale" onclick="mandarMensagem('(11) 98765-8765')">enviar mensagem</button>
        </div>

        <div class="card">
            <h3>Marcos Silva</h3>
            <p>especialidade: psicanálise</p>
            <p>telefone: (11) 98765-2345</p>
            <button class="botao-whatsapp to_scale" onclick="mandarMensagem('(11) 98765-2345')">enviar mensagem</button>
        </div>

        <div class="card">
            <h3>Isabela Santos</h3>
            <p>especialidade: psicologia educacional</p>
            <p>telefone: (11) 98765-7890</p>
            <button class="botao-whatsapp to_scale" onclick="mandarMensagem('(11) 98765-7890')">enviar mensagem</button>
        </div>

        <div class="card">
            <h3>Rodrigo Souza</h3>
            <p>especialidade: psicoterapia de grupo</p>
            <p>telefone: (11) 98765-3456</p>
            <button class="botao-whatsapp to_scale" onclick="mandarMensagem('(11) 98765-3456')">enviar mensagem</button>
        </div>

        <div class="card">
            <h3>Larissa Lima</h3>
            <p>especialidade: neuropsicologia</p>
            <p>telefone: (11) 98765-9012</p>
            <button class="botao-whatsapp to_scale" onclick="mandarMensagem('(11) 98765-9012')">enviar mensagem</button>
        </div>
    </div>
</div>
</body>
</html>
