<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Diário</title>
  <link rel="stylesheet" href="../static/css/diario.css?v=1">
</head>
<body>
  <div class="container">
    <img src="../static/img/logo.png" alt="Logo">
    <h1>como está se sentindo hoje?</h1>
    <form action="/adicionar_entrada" method="post">
      <label for="titulo">título</label>
      <input type="text" name="titulo" id="titulo">
      <label for="conteudo">respire, e sinta-se livre para escrever o que quiser :)</label>
      <textarea name="conteudo" id="conteudo"></textarea>

      <label for="humor">selecione um humor de 1 a 10:</label>
      <input type="range" id="humor" name="humor" min="1" max="10" step="1">

      <label for="momento_feliz">o que te fez feliz hoje?</label>
      <input type="text" name="momento_feliz" id="momento_feliz">

      <button type="submit">adicionar entrada</button>
    </form>
  </div>
</body>
</html>
