<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>diariamente</title>
    <link rel="stylesheet" href="../static/css/index.css?v=5">
</head>
<body>
<div class="container">
    <div class="header">
        <img src="../static/img/logo.png?v=1" alt="Logo">
        <h1>aqui, sua saúde mental importa. diariamente.</h1>
    </div>

    <div class="features">
        <div class="feature-left">
            <h2>diário de humor e pensamentos</h2>
            <p>registre seu humor e escreva tudo o que vem à cabeça.<br> não se preocupe: suas informações estão seguras.</p>
        </div>

        <div class="feature-right">
            <h2>timer de meditação</h2>
            <p>configure um timer e respire.<br>a meditação pode acalmar e aliviar sintomas de ansiedade.</p>
        </div>

        <div class="feature-left">
            <h2>vídeos divertidos e relaxantes</h2>
            <p>aproveite um momento de seu dia para relaxar e se divertir um pouco.<br>curamos vídeos fofinhos de animais, meditações guiadas, motivações e até mesmo sons belíssimos de pianos para você se descontrair.</p>
        </div>

        <div class="feature-right">
            <h2>ajuda profissional</h2>
            <p>não cansamos de repetir: sua saúde mental importa. <br>encontre psicólogos parceiros e altamente capacitados para te apoiar.</p>
        </div>
    </div>
        <a href="/login" class="cta-button to_scale">junte-se a nós, diariamente :)</a>
</div>
</body>
</html>
