<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>videos relaxantes e divertidos</title>
    <link rel="stylesheet" href="../static/css/videos-relaxantes.css?v=4">
</head>
<body>
<div class="container">
    <img src="../static/img/logo.png?v=1" alt="Logo">
    <div class="header">
      <a class="navigation" href="/diario?email={{ email }}">diário</a>
      <a class="navigation" href="/meditacao?email={{ email }}">timer de meditação</a>
      <a class="navigation nav-selected"href="/videos-relaxantes?email={{ email }}">vídeos relaxantes</a>
      <a class="navigation"href="/ajuda-profissional?email={{ email }}">ajuda profissional</a>
      </div>
    <h1>videos relaxantes e divertidos</h1>

    <div class="videos-container">
        <h2>gatinhos fofinhos e outros animais</h2>
        <iframe width="280" height="157" src="https://www.youtube.com/embed/dkoMSuMqTH4?si=E5X0u6yn-5GlM74m"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        <iframe width="280" height="157" src="https://www.youtube.com/embed/24HD57aBYQo?si=hf8t-aSI8SfafaVL"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        <iframe width="280" height="157" src="https://www.youtube.com/embed/Px5nmExb-uw?si=uIAmVb-iT7umdyr2"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>

    <div class="videos-container">
        <h2>meditações guiadas</h2>
        <iframe width="280" height="157" src="https://www.youtube.com/embed/j-TV5HMrM94?si=LZdXeyeXz7BKcEwC"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        <iframe width="280" height="157" src="https://www.youtube.com/embed/sJjyX9W-E-Y?si=zDRZ8ioKzJTA6axJ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        <iframe width="280" height="157" src="https://www.youtube.com/embed/RylLBe8yAwc?si=GK7abWDblt1cSqPG"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>

    <div class="videos-container">
        <h2>motivacional</h2>
        <iframe width="280" height="157" src="https://www.youtube.com/embed/UlY2deWLyw0?si=XcHDVloTzZHCQ2yl"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        <iframe width="280" height="157" src="https://www.youtube.com/embed/ZNANt0jBJ98?si=FkxLu7sEwaPgW8cH"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        <iframe width="280" height="157" src="https://www.youtube.com/embed/kHTB-03Gw3M?si=Qn3XAyQM9faMV8EQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>
    <div class="videos-container">
        <h2>piano</h2>
        <iframe width="280" height="157" src="https://www.youtube.com/embed/WJ3-F02-F_Y?si=dEaDP1jDNcRrg8Sp"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        <iframe width="280" height="157" src="https://www.youtube.com/embed/cGYyOY4XaFs?si=XuTy2744uAva17cp"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        <iframe width="280" height="157" src="https://www.youtube.com/embed/EN84zyEcqBY?si=Xzg7DgTPKDqTVfNI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>

</div>
</body>
</html>